body {
  height: 3000px;
}

input {
  background-color: black;
  color: white;
  position: absolute;
  top: 12px;
  right: 12px;
  font-family: Arial;
  font-size: 25px;
  border-radius: 30px;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: none;
}
.div {
  width: 320px;
  height: 180px;
  background-color: gray;
  position: fixed;
  bottom: 15px;
  right: 15px;
}
