body {
  height: 3000px;
}

div {
  position: relative;
  display: inline-block;
}

input {
  background-color: black;
  color: white;
  font-family: Arial;
  width: 80px;
  height: 25px;
  border: none;
  text-align: center;
  font-size: 15px;
  position: absolute;
  top: 10px;
  right: 0px;
}
img {
  width: 290px;
  height: 320px;
}
