.Bootstrap1{
    background-color: rgba(121,82,179);
    border: 0px;
    font-size: 15px;
    color:white;
    width:80px ;
    height:26px ;
    font-size: 10px;
    border-radius: 2px;
    font-weight: bold;
        }
.Bootstrap2{
    background-color: white;
    border: 1px solid;
    border-color:rgb(108, 117, 125) ;
    font-size: 15px;
    color:rgb(108, 117, 125);
    width:80px ;
    height:26px ;
    font-size: 10px;
    border-radius: 2px;
    font-weight: bold;
        }
.Bootstrap1:hover{
    cursor: pointer;
    box-shadow: 5px 10px;
    background-color: rgb(89, 67, 122);
}
.Bootstrap2:hover{
    cursor: pointer;
    box-shadow: 5px 10px;
    color:white;
    background-color:rgb(108, 117, 125);
}